################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dependencies/include
/.vs/jamengine/v16
/out/build
/.vs
